<div class="card my-3">
    <img class="card-img-top" src={{todo.imgSrc}} alt="No image">
    <div class="card-body">
      <h5 class="card-title">{{todo.title || 'No title'}}</h5>
      <p class="card-text">{{todo.category}}</p>
      <hr>
      <p class="card-text">{{todo.description || 'No description'}}</p>
      <hr>
      <a routerLink="/todo/{{todo.id}}" class="btn btn-primary">Go details</a>
      <a (click)="removeTodo()" class="btn btn-danger text-white mx-3">Delete</a>
    </div>
    <div class="card-footer">
      <label>Progress: <input type="checkbox" [checked]="todo.isDone"></label>
    </div>
</div>