<form class="form-input">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-7">
                <div class="form-group">
                    <label>Todo title</label>
                    <input type="text" class="form-control" [(ngModel)]="inputtodo.title" name="title" (keyup)="todoTitle = $event.target.value">
                </div>
                <div class="form-group">
                    <label>Todo category</label>
                    <input type="text" class="form-control" [(ngModel)]="inputtodo.category" name="category" (keyup)="todoCategory = $event.target.value">
                </div>
                <div class="form-group">
                    <label>Todo description</label>
                    <textarea class="form-control" rows="3" [(ngModel)]="inputtodo.description" name="description" (keyup)="todoDesc = $event.target.value"></textarea>
                </div>
                <div class="form-group">
                    <label>Todo image link</label>
                    <input type="text" class="form-control" [(ngModel)]="inputtodo.imgSrc" name="imgSrc" (change)="todoImg = $event.target.value">
                </div>
                <a class="btn btn-primary text-white" (click)="addTodo($event)">Save</a>
            </div>
            <div class="col-12 col-md-5" style="background-image: url({{inputtodo.imgSrc}}); background-size: cover;">
            </div>
        </div>
    </div>
</form>
